@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
    margin-left: 20px;
}

.header ul {
    display: flex;
    gap: 16px;
    margin-right: 20px;
}

.header li {
    list-style: none;
}

.header a {
    text-decoration: none;
}

.header a:link, a:visited,  a:hover, a:active
{
    color: #b6b7bb;
    text-decoration: none;
}

/* Hero */

.hero {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.hero-image {
    background-color: gray;
    color: white;
    width: 30em;
    height: 12.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    max-width: 500px;
}

.hero-paragraph-text {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 450px;
    margin: 5px;
    margin-bottom: 10px;
}

.hero-button {
    padding: 7px 30px;
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    font-size: 14px;
}

/* Information section */

.information-title {
    text-align: center;
    padding: 10px;
    margin: 5px 5px 40px;
}

.information {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.information-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images-box {
    border: 2px solid #3882F6;
    border-radius: 10px;
    padding: 100px;
}

.information-images > p {
    text-align: center;
    max-width: 150px;
    margin-top: 5px;
}

/* Quote section */

.quote-section {
    padding: 100px;
    margin-top: 50px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    max-width: 915px;
}

.quote-author {
    margin-left: 400px;
}